<div class="box">
  <h1>Det siger kunderne om Vahl Wood</h1>
  <div class="grid">
    <section class="col1">
        <article>
            <h2>
              "Professionel og tilpasningsdygtig snedker. Byggede skræddersyede
              indbyggede hylder til vores kontor, der ikke kun er praktiske, men
              også æstetisk tiltalende."
            </h2>
            <h3>- Birgitte, Mårum</h3>
    
          </article>

      <article>
        <h2>
          "Utrolig dygtig snedker! Leverede en fantastisk specialdesignet reol
          til vores stue. Præcisionen og opmærksomheden på detaljer er
          imponerende."
        </h2>
        <h3>- Morten, Helsinge</h3>

      </article>
      
    </section>
    <section class="col2">
      <article>
        <h2>
          "Enestående håndværk! Christian fra Vahl Wood skabte et smukt
          egetræsbord til vores spisestue. Kvaliteten og finishen er uden
          sidestykke. Vi er begejstrede!"
        </h2>
        <h3>- Daniel, Fredensborg</h3>

      </article>
      <article>
        <h2>
          "En fornøjelse at arbejde med! Christian forstod vores vision og
          skabte en unik trævæg til vores soveværelse. Resultatet oversteg vores
          forventninger. Stærkt anbefalet!"
        </h2>
        <h3>- Cristina & Karsten, Nødebo</h3>

      </article>
    </section>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*padding: 25px;*/
  }

 

  .box {
    /*border: 1px solid #000;*/
    background-color: #efede7;
    /*background-color: #f0eeec;*/
    padding: 25px;
    margin: 2rem;
  }

  h1 {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-top: 2rem;
    /*padding: 25px;*/
    font-size: 22px;
    letter-spacing: 4px;
    padding: 15px;

  }

  h2 {
    /*font-weight: 300;*/
    font-size: 14px;
    /*letter-spacing: 2px;*/
    margin-bottom: 1rem;
    font-style: italic;

  }

  h3 {
    font-size: 13px;
    font-weight: 200;
    /*letter-spacing: 2px;*/


  }

  article {
    padding: 15px;
  }

  @media screen and (min-width: 600px) {

    h1 {
      margin-top: 2rem;
      font-size: 27px;
      margin-bottom: 1rem;
      text-align: center;

    }

    h2 {
      font-size: 17px;
      font-weight: 200;
    }

    h3 {
      font-size: 15px;

    }

    article {
      padding: 25px;
    }
  }
</style>
