<!--<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/forside_video.mp4" type="video/mp4" />
  </video>
</div>  -->
<div class="top">
  <h1>TRÆKUNST MED SJÆL, FORMET EFTER DINE DRØMME</h1>
  <h2>
    Vahl Wood står parat til at skabe unikke håndværksløsninger til dig. Kontakt
    os nu for at modtage et tilbud skræddersyet til dine behov.
  </h2>
  <h2></h2>

  <section class="knap-container">
    <a class="knap1" href="/contact">KONTAKT</a>
    <a class="knap2" href="/shop">KATALOG</a>
  </section>
</div>

<style>
  .top {
    padding: 20px;
    /* background-image:linear-gradient(rgba(170, 170, 170, 0.5), rgba(170, 170, 170, 0.5)), url(/images/portrættræbaggrund.webp);*/
    /* background-image:linear-gradient(rgba(170, 170, 170, 0.132), rgba(202, 201, 201, 0.3)),  url(/images/portrætdør.webp);*/
    background-image: url(/images/kvadrat8.webp);
    background-size: cover;
    text-align: center;
  }

  h1 {
    margin-bottom: 2rem;
    font-weight: 400;
    margin-top: 5rem;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: center;
  }

  .knap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .knap1,
  .knap2 {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    margin: 0 0 2rem;
  }

  .knap1:hover,
  .knap2:hover {
    opacity: 70%;
  }
  /*img {
    width: 300px;
  }*/

  /* video {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }*/

  /*.video-container {
    display: block;
    margin-bottom: 3rem;
    max-width: 100%;
  }*/

  @media screen and (min-width: 700px) {
    .top {
      padding: 60px;
    }
    h1 {
      font-size: 23px;
      margin-top: 2rem;
    }
    h2 {
      font-size: 18px;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 3rem;
      font-weight: 300;
    }

    .knap-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;

  }

  }

  @media screen and (min-width: 1000px) {
    /*.video-container {
      max-width: none;
    }*/

    .top {
      padding: 85px;
    }

    h1{
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      max-width: 700px;

   
    }
  }
</style>
