<!--<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/forside_video.mp4" type="video/mp4" />
  </video>
</div>  -->
<div class="top">
  <h1>TRÆKUNST MED SJÆL, FORMET EFTER DINE DRØMME</h1>
  <h2>
    Vahl wood står parat til at skabe unikke håndværksløsninger til dig. Kontakt os nu
    for at modtage et tilbud skræddersyet til dine behov
  </h2>

  <section class="knap-container">
      <a class="knap1" href="/contact">KONTAKT</a>
      <a class="knap2" href="/shop">KATALOG</a>
  </section>
</div>

<style>
  .top {
    padding: 25px;
   /* background-image:linear-gradient(rgba(170, 170, 170, 0.5), rgba(170, 170, 170, 0.5)), url(/images/portrættræbaggrund.webp);*/
   /* background-image:linear-gradient(rgba(170, 170, 170, 0.132), rgba(202, 201, 201, 0.3)),  url(/images/portrætdør.webp);*/

    background-size: cover;
    text-align: center;
  }

  h1 {
    margin-bottom: 2rem;
    font-weight: 300;
    margin-top: 3rem;
    letter-spacing: 3px;
    font-size: 27px;
    text-align: left;
  }

  h2 {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 3rem;
    text-align: left;

  }

  .knap-container{
    display: flex;
    justify-content: center;
  }

  .knap1, .knap2 {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    margin: 0 2rem;
  }

  .knap1:hover, .knap2:hover {
      opacity: 70%;
    }
  img{
    width: 300px;
  }

  /* video {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }*/

  /*.video-container {
    display: block;
    margin-bottom: 3rem;
    max-width: 100%;
  }*/

  @media screen and (min-width: 700px) {

    .top{
      padding: 60px;
    }
    h1 {
    font-size: 27px;
    text-align: center;
    margin-top: 3rem;

  }
  h2 {
    font-size: 22px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 200;
  }
  }

  @media screen and (min-width: 1000px) {
    /*.video-container {
      max-width: none;
    }*/

    .top{
      padding: 100px;

    }
  }
</style>
