<!--<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/forside_video.mp4" type="video/mp4" />
  </video>
</div>  -->

<div class="top">
<h1>TRÆKUNST MED SJÆL, FORMET EFTER DINE DRØMME</h1>
<h2>Vi står parat til at skabe unikke håndværksløsninger til dig. Kontakt os nu for at modtage et tilbud skræddersyet til dine behov</h2>
</div>

<style>
.top{
  padding: 25px;
  /*background-image: url(/images/portrættræbaggrund.webp);*/
  /*background-size: cover;*/
  text-align: center;
}

h1{
  margin-bottom: 2rem;
  font-weight: 500;
  margin-top: 2rem;
}

h2{
  font-size: large;
  margin-bottom: 5rem;
}


 /* video {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }*/

  /*.video-container {
    display: block;
    margin-bottom: 3rem;
    max-width: 100%;
  }*/

  @media screen and (min-width: 1000px) {
    /*.video-container {
      max-width: none;
    }*/

    h1{
      /*max-width: 40%;*/

    }
  }
</style>
